{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Bem vindo ao</span> Symfony {{ name }}</h1>
            </div>


{% endblock %}

{% block stylesheets %}

{% endblock %}
